html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: 'Arvo', sans-serif;
  color: white;
  height: 100%;
}

body {
  display: -webkit-box;
  display: flex;
  padding: 10px;
}

cs-app, cs-app * {
  box-sizing: border-box;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

cs-app {
  margin: auto;
  width: 100%;
  max-width: 450px;
}
cs-app cs-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 21px;
}
cs-app cs-tiles {
  height: 344px;
  position: relative;
}
cs-app cs-tiles input {
  display: none;
}
cs-app cs-tiles cs-tile-container {
  display: -webkit-box;
  display: flex;
  position: absolute;
  height: 85px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.15s 0.15s;
  transition: all 0.15s 0.15s;
  z-index: 1000;
}
cs-app cs-tiles cs-tile-container cs-tile {
  background: rgb(174, 17, 222);
  margin: auto;
  width: 90%;
  height: 80%;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: all 0.15s 0.15s, background 0.15s;
  transition: all 0.15s 0.15s, background 0.15s;
}
cs-app cs-tiles cs-tile-container cs-tile:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
  background: #ba41ca;
}
cs-app cs-tiles cs-tile-container cs-tile cs-text {
  -webkit-transition: all 0.15s 0.15s;
  transition: all 0.15s 0.15s;
  width: 100%;
  text-align: center;
  line-height: 70px;
  white-space: nowrap;
  text-transform: uppercase;
}
cs-app cs-tiles cs-tile-container cs-tile cs-content {
  -webkit-transition: all 0.15s, max-height 0s;
  transition: all 0.15s, max-height 0s;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  max-height: 0;
}
cs-app cs-tiles cs-tile-container cs-tile .cs-open {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
cs-app cs-tiles cs-tile-container cs-tile .cs-close {
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: absolute;
  opacity: 0;
  top: 25px;
  right: 25px;
  -webkit-transform: rotateZ(45deg) translateX(-50%) translateY(-50%);
          transform: rotateZ(45deg) translateX(-50%) translateY(-50%);
  font-size: 25px;
}
cs-app cs-tiles input:checked + cs-tile-container {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 10000;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile {
  height: 98%;
  width: 98%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
}

.container1{
  background-image: url(../image/002.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container2{
  background-image: url(../image/mariandAna.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container3{
  background-image: url(../image/Aliana.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container4{
  background-image: url(../image/03.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container5{
  background-image: url(../image/Lida.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container6{
  background-image: url(../image/anita1.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container7{
  background-image: url(../image/003.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container8{
  background-image: url(../image/004.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}

.container9{
  background-image: url(../image/AnitaAndBrian.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile:hover {
  cursor: initial;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-open {
  display: none;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-close {
  -webkit-transition: all 0.15s 0.25s;
  transition: all 0.15s 0.25s;
  opacity: 1;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile .cs-close:hover {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0.5;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile cs-text {
  -webkit-transition: all 0.15s 0.25s;
  transition: all 0.15s 0.25s;
  font-size: 24px;
  line-height: 50px;
}
cs-app cs-tiles input:checked + cs-tile-container cs-tile cs-content {
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-transition: all 0.25s 0.4s, max-height 0s 0.4s, -webkit-box-flex 0s 0.4s;
  transition: all 0.25s 0.4s, max-height 0s 0.4s, -webkit-box-flex 0s 0.4s;
  transition: all 0.25s 0.4s, max-height 0s 0.4s, flex 0s 0.4s;
  transition: all 0.25s 0.4s, max-height 0s 0.4s, flex 0s 0.4s, -webkit-box-flex 0s 0.4s;
  opacity: 1;
  margin-top: 10px;
  pointer-events: initial;
  width: 100%;
  max-height: 1000000px;
  overflow: hidden;
}
cs-app cs-tile-container:nth-of-type(1) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(2) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(3) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(0 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(4) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(5) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(6) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(1 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(7) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(8) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(9) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(2 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(10) {
  left: calc(0 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(11) {
  left: calc(1 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}
cs-app cs-tile-container:nth-of-type(12) {
  left: calc(2 * 33.334% + 1 * 16.667%);
  top: calc(3 * 85px);
  width: 33.334%;
}

.confetti {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Permite que el contenido sea clickeable */
  overflow: hidden;
  z-index: -1; /* Mantiene el confeti detrás del contenido */
}

.cake {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../image/tulipan.jpg'); /* Reemplaza con la ruta de tu imagen de torta */
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Controla la opacidad de la torta */
  z-index: -2; /* Mantiene la torta detrás del contenido */
}


/* Estilos para el confeti */
@keyframes confetti {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.confetti {
  background: transparent;
}

.confetti div {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(219, 59, 158);
  animation: confetti 5s infinite;
}

.confetti div:nth-child(2) {
  background-color: #f00;
  animation: confetti 5s infinite;
}

.confetti div:nth-child(4) {
  background-color: #0f0; 
  animation: confetti 5s infinite;
}

.confetti div:nth-child(8) {
  background-color: rgb(159, 41, 175); 
  animation: confetti 5s infinite;
}

.confetti div:nth-child(16) {
  background-color: rgb(220, 33, 8);
  animation: confetti 5s infinite;
}
